aiodns @ file:///opt/miniconda3/conda-bld/aiodns_1762184798270/work
aiohappyeyeballs @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_86beu757ao/croot/aiohappyeyeballs_1755769847762/work
aiohttp @ file:///opt/miniconda3/conda-bld/aiohttp_1762519752475/work
aiosignal @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e3cjtbh902/croot/aiosignal_1755870814211/work
annotated-types @ file:///opt/miniconda3/conda-bld/annotated-types_1761744935789/work
anyio @ file:///opt/miniconda3/conda-bld/anyio_1758623415329/work
appnope @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_46iquy4y0r/croot/appnope_1750774774351/work
argon2-cffi @ file:///Users/ec2-user/croot/argon2-cffi_1766067824920/work
argon2-cffi-bindings @ file:///opt/miniconda3/conda-bld/argon2-cffi-bindings_1757924854450/work
asttokens @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_11i8cnwuxs/croot/asttokens_1743630449718/work
async-lru @ file:///opt/miniconda3/conda-bld/async-lru_1761121449029/work
attrs @ file:///opt/miniconda3/conda-bld/attrs_1762356972456/work
babel @ file:///opt/miniconda3/conda-bld/babel_1764159382137/work
beautifulsoup4 @ file:///opt/miniconda3/conda-bld/beautifulsoup4-split_1764159482030/work
bleach @ file:///opt/miniconda3/conda-bld/bleach_1764153567981/work
blis @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2070xurru5/croot/cython-blis_1728909078944/work
Bottleneck @ file:///opt/miniconda3/conda-bld/bottleneck_1761937851559/work
brotlicffi @ file:///opt/miniconda3/conda-bld/brotlicffi_1764961161648/work
cachetools @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4dwsj6_xj_/croot/cachetools_1738225342715/work
catalogue @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_80m8_830f9/croot/catalogue_1703688152663/work
certifi @ file:///opt/miniconda3/conda-bld/certifi_1763135328017/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1761832774705/work
charset-normalizer @ file:///opt/miniconda3/conda-bld/charset-normalizer_1761744820108/work
click @ file:///opt/miniconda3/conda-bld/click_1764332241191/work
cloudpathlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_598g8iuoov/croot/cloudpathlib_1745423367497/work
cloudpickle @ file:///opt/miniconda3/conda-bld/cloudpickle_1764930390962/work
colorama @ file:///Users/cbousseau/work/recipes/ci_py311/colorama_1677925183444/work
comm @ file:///opt/miniconda3/conda-bld/comm_1763119153703/work
confection @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_d6ccq61mnz/croot/confection_1750275272950/work
contourpy @ file:///opt/miniconda3/conda-bld/contourpy_1763643921048/work
cryptography @ file:///opt/miniconda3/conda-bld/cryptography-split_1761931962722/work
cycler @ file:///Users/ec2-user/croot/cycler_1766067937020/work
cymem @ file:///opt/miniconda3/conda-bld/cymem_1756984392985/work
datefinder==0.7.3
debugpy @ file:///opt/miniconda3/conda-bld/debugpy_1762421636036/work
decorator @ file:///opt/miniconda3/conda-bld/decorator_1757341235959/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
et_xmlfile @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_29xjd2rw2y/croot/et_xmlfile_1756462494507/work
executing @ file:///opt/miniconda3/conda-bld/executing_1757061235776/work
fastjsonschema @ file:///opt/miniconda3/conda-bld/python-fastjsonschema_1763718719073/work
fonttools @ file:///opt/miniconda3/conda-bld/fonttools_1765445183405/work
frozenlist @ file:///opt/miniconda3/conda-bld/frozenlist_1761062014040/work
fsspec @ file:///opt/miniconda3/conda-bld/fsspec_1762432465003/work
gcsfs @ file:///opt/miniconda3/conda-bld/gcsfs_1765497140360/work
google-api-core @ file:///opt/miniconda3/conda-bld/google-api-core-split_1760469097823/work
google-auth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8ds3odran7/croot/google-auth_1741275200078/work
google-auth-oauthlib @ file:///opt/miniconda3/conda-bld/google-auth-oauthlib_1763634691523/work
google-cloud-core @ file:///opt/miniconda3/conda-bld/google-cloud-core_1762250187211/work
google-cloud-storage @ file:///opt/miniconda3/conda-bld/google-cloud-storage_1760469049996/work
google-crc32c @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b9o92fmvoi/croot/google-crc32c_1736366650164/work
google-resumable-media @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_261mlc_orj/croot/google-resumable-media_1742998749160/work
googleapis-common-protos @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_57n184fv_4/croot/googleapis-common-protos-feedstock_1742589202713/work
h11 @ file:///opt/miniconda3/conda-bld/h11_1761931260823/work
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httpcore @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_941yf7p5zt/croot/httpcore_1748526061031/work
httpx @ file:///opt/miniconda3/conda-bld/httpx_1760447187197/work
idna @ file:///opt/miniconda3/conda-bld/idna_1761912005314/work
ImageIO @ file:///opt/miniconda3/conda-bld/imageio_1762953994945/work
ipykernel @ file:///opt/miniconda3/conda-bld/ipykernel_1762946072373/work
ipython @ file:///opt/miniconda3/conda-bld/ipython_1762789298678/work
ipython_pygments_lexers @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_25fteymumy/croot/ipython_pygments_lexers_1744753256449/work
ipywidgets @ file:///opt/miniconda3/conda-bld/ipywidgets_1761560158361/work
jedi @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_38ctoinnl0/croot/jedi_1733987402850/work
Jinja2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cnn4kenrm/croot/jinja2_1741710859444/work
joblib @ file:///opt/miniconda3/conda-bld/joblib_1757926350367/work
json5 @ file:///opt/miniconda3/conda-bld/json5_1763718553673/work
jsonschema @ file:///opt/miniconda3/conda-bld/jsonschema_1762459087465/work
jsonschema-specifications @ file:///opt/miniconda3/conda-bld/jsonschema-specifications_1762788416887/work
jupyter @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_4eoc_4jij1/croot/jupyter_1737645814862/work
jupyter-console @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_62liw5pns2/croot/jupyter_console_1679999641189/work
jupyter-events @ file:///opt/miniconda3/conda-bld/jupyter_events_1765813598965/work
jupyter-lsp @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_b2ljixsllb/croot/jupyter-lsp-meta_1745827035021/work
jupyter_client @ file:///opt/miniconda3/conda-bld/jupyter_client_1762943081742/work
jupyter_core @ file:///opt/miniconda3/conda-bld/jupyter_core_1764588284546/work
jupyter_server @ file:///opt/miniconda3/conda-bld/jupyter_server_1764955081686/work
jupyter_server_terminals @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ealwktxf9e/croot/jupyter_server_terminals_1744706715282/work
jupyterlab @ file:///opt/miniconda3/conda-bld/jupyterlab_1764604264134/work
jupyterlab_pygments @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42uijy7nfe/croot/jupyterlab_pygments_1741124161488/work
jupyterlab_server @ file:///opt/miniconda3/conda-bld/jupyterlab_server_1761751422360/work
jupyterlab_widgets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_93oukz0049/croot/jupyterlab_widgets_1752066565004/work
kiwisolver @ file:///opt/miniconda3/conda-bld/kiwisolver_1764159426452/work
langcodes @ file:///opt/miniconda3/conda-bld/langcodes_1757574801486/work
language_data @ file:///opt/miniconda3/conda-bld/language-data_1757509284270/work
lazy_loader @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4fhv6eyhq/croot/lazy_loader_1718176742928/work
lime @ file:///home/conda/feedstock_root/build_artifacts/lime_1734777765833/work
marisa-trie @ file:///opt/miniconda3/conda-bld/marisa-trie_1757503576955/work
markdown-it-py @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6av49xs_3l/croot/markdown-it-py_1756299201304/work
MarkupSafe @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1f_uj4vxik/croot/markupsafe_1738584045311/work
matplotlib==3.10.7
matplotlib-inline @ file:///opt/miniconda3/conda-bld/matplotlib-inline_1762779171588/work
mdurl @ file:///opt/miniconda3/conda-bld/mdurl_1758552166200/work
mistune @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_5be80wp982/croot/mistune_1741123981908/work
multidict @ file:///opt/miniconda3/conda-bld/multidict_1760566705134/work
murmurhash @ file:///opt/miniconda3/conda-bld/murmurhash_1764710939077/work
nbclient @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_67j3qubf1d/croot/nbclient_1741124021022/work
nbconvert @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e4p9a3fnm6/croot/nbconvert-meta_1741184656667/work
nbformat @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_2cv_qoc1gw/croot/nbformat_1728049423516/work
nela-features==3.0.1
nest-asyncio @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_310vb5e2a0/croot/nest-asyncio_1708532678212/work
networkx @ file:///opt/miniconda3/conda-bld/networkx_1765378630299/work
nltk @ file:///opt/miniconda3/conda-bld/nltk_1761121172914/work
notebook @ file:///opt/miniconda3/conda-bld/notebook_1764679842724/work
notebook_shim @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_ceoiz4k8qs/croot/notebook-shim_1741707775649/work
numexpr @ file:///opt/miniconda3/conda-bld/numexpr_1762165519324/work
numpy @ file:///opt/miniconda3/conda-bld/numpy_and_numpy_base_1763980679152/work/dist/numpy-2.3.5-cp311-cp311-macosx_12_0_arm64.whl#sha256=6af82dbcba097af493ba833c4742b98e3e8f7750ba2dc4623767fce0bf26bf4f
oauthlib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_a1dwwgrlof/croot/oauthlib_1750775456657/work
openpyxl @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_96hhik4ygv/croot/openpyxl_1721752931204/work
overrides @ file:///opt/miniconda3/conda-bld/overrides_1762349088711/work
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas @ file:///opt/miniconda3/conda-bld/pandas_1762332181524/work/dist/pandas-2.3.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=202df5d53c23cfef62978a56a6ba62db241b6257dcda7ff087a13319aa75ac1f
pandocfilters @ file:///opt/miniconda3/conda-bld/pandocfilters_1756977617494/work
parso @ file:///opt/miniconda3/conda-bld/parso_1762781703292/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pexpect @ file:///opt/miniconda3/conda-bld/pexpect_1762535935939/work
pillow @ file:///opt/miniconda3/conda-bld/pillow_1762528235719/work
platformdirs @ file:///opt/miniconda3/conda-bld/platformdirs_1762356624685/work
preshed @ file:///Users/ec2-user/croot/preshed_1766163521632/work
prometheus_client @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_26twdnhgbr/croot/prometheus_client_1744271763065/work
prompt_toolkit @ file:///opt/miniconda3/conda-bld/prompt-toolkit_1761744881146/work
propcache @ file:///opt/miniconda3/conda-bld/propcache_1765457313942/work
proto-plus @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a2_g3ysrk1/croot/proto-plus_1742829361642/work
protobuf @ file:///opt/miniconda3/conda-bld/protobuf_1763136937898/work/bazel-bin/python/dist/protobuf-6.33.0-cp311-abi3-macosx_11_0_arm64.whl#sha256=9ac17fe1509f6ebb043525c75dad46ba4c2ff0a35eb8e2897e028966495491d9
psutil @ file:///opt/miniconda3/conda-bld/psutil_1761896323688/work
ptyprocess @ file:///opt/miniconda3/conda-bld/ptyprocess_1762424170819/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=3470be7f810474c8a2ecfcd6e02acc6aea8483ab595417fa4e336362a349933e
pure_eval @ file:///opt/miniconda3/conda-bld/pure_eval_1757067067189/work
pyasn1 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e7xd4dpfe0/croot/pyasn1_1729239794632/work
pyasn1_modules @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_42zeqecgwx/croot/pyasn1-modules_1752042896598/work
pycares @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b01dqj7707/croot/pycares_1756217969873/work
pycparser @ file:///opt/miniconda3/conda-bld/pycparser_1757496044852/work
pydantic @ file:///opt/miniconda3/conda-bld/pydantic_1764083525412/work
pydantic_core @ file:///opt/miniconda3/conda-bld/pydantic-core_1764009781890/work
Pygments @ file:///opt/miniconda3/conda-bld/pygments_1762431577787/work
pyOpenSSL @ file:///opt/miniconda3/conda-bld/pyopenssl_1762166536590/work
pyparsing @ file:///opt/miniconda3/conda-bld/pyparsing_1763973786267/work
PySocks @ file:///opt/miniconda3/conda-bld/pysocks_1761753010242/work
python-dateutil @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_66ud1l42_h/croot/python-dateutil_1716495741162/work
python-json-logger @ file:///opt/miniconda3/conda-bld/python-json-logger_1764590078674/work
pytz @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3bjczh6it0/croot/pytz_1752135865541/work
PyYAML @ file:///opt/miniconda3/conda-bld/pyyaml_1763465492937/work
pyzmq @ file:///opt/miniconda3/conda-bld/pyzmq_1762375616040/work
qtconsole @ file:///opt/miniconda3/conda-bld/qtconsole_1758748642243/work
QtPy @ file:///opt/miniconda3/conda-bld/qtpy_1757531017820/work
referencing @ file:///opt/miniconda3/conda-bld/referencing_1762536886664/work
regex @ file:///opt/miniconda3/conda-bld/regex_1765378752018/work
requests @ file:///opt/miniconda3/conda-bld/requests_1762359591792/work
requests-oauthlib @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_edghjfzez5/croot/requests-oauthlib_1720615033945/work
rfc3339-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_76ae5cu30h/croot/rfc3339-validator_1683077051957/work
rfc3986-validator @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d0l5zd97kt/croot/rfc3986-validator_1683058998431/work
rich @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_034myiu7pr/croot/rich_1732638981241/work
rpds-py @ file:///opt/miniconda3/conda-bld/rpds-py_1762366478996/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel-yaml-conda @ file:///Users/cbousseau/work/recipes/ci_py311/ruamel_yaml_1677961911260/work
scikit-image @ file:///opt/miniconda3/conda-bld/scikit-image_1764772821523/work
scikit-learn @ file:///Users/ec2-user/croot/scikit-learn_1766097961875/work
scipy @ file:///opt/miniconda3/conda-bld/scipy_1762194749537/work/dist/scipy-1.16.3-cp311-cp311-macosx_12_0_arm64.whl#sha256=41d45d75f1d72e7a757f80e074035f65ef5c4be37f708d353776f16dbc3ffcec
seaborn @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_74n8m1zz4r/croot/seaborn_1749110344248/work
Send2Trash @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a6shz7yg5h/croot/send2trash_1736541353497/work
shellingham @ file:///opt/miniconda3/conda-bld/shellingham_1761912204076/work
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
smart_open @ file:///opt/miniconda3/conda-bld/smart_open_1757580764545/work
sniffio @ file:///opt/miniconda3/conda-bld/sniffio_1764329150716/work
soupsieve @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9798xzs_03/croot/soupsieve_1696347567192/work
spacy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_36r0s4q8pa/croot/spacy_1729067653464/work
spacy-legacy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f7_dx1c18z/croot/spacy-legacy_1684141123193/work
spacy-loggers @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_68k4nvpzja/croot/spacy-loggers_1684138716415/work
srsly @ file:///opt/miniconda3/conda-bld/srsly_1764254718020/work
stack_data @ file:///opt/miniconda3/conda-bld/stack_data_1757067039886/work
terminado @ file:///opt/miniconda3/conda-bld/terminado_1757934760294/work
thinc @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_9ed2ffbd16/croot/thinc_1742231821780/work
threadpoolctl @ file:///opt/miniconda3/conda-bld/threadpoolctl_1764361580622/work
tifffile @ file:///opt/miniconda3/conda-bld/tifffile_1759918246155/work
tinycss2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_47tkvt_wcv/croot/tinycss2_1738338622484/work
tornado @ file:///Users/ec2-user/croot/tornado_1765992648472/work
tqdm @ file:///opt/miniconda3/conda-bld/tqdm_1762863351517/work
traitlets @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_500m2_1wyk/croot/traitlets_1718227071952/work
typer @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e62p5mo8z5/croot/typer_1684251930377/work
typing-inspection @ file:///opt/miniconda3/conda-bld/typing-inspection_1760614169328/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
ujson @ file:///opt/miniconda3/conda-bld/ujson_1763119195981/work
urllib3 @ file:///opt/miniconda3/conda-bld/urllib3_1765399198897/work
uvloop @ file:///opt/miniconda3/conda-bld/uvloop_1762175502795/work
vaderSentiment==3.3.2
wasabi @ file:///opt/miniconda3/conda-bld/wasabi_1757345808786/work
wcwidth @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_8el7txr34i/croot/wcwidth_1750352901095/work
weasel @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_bdgm334hkw/croot/weasel_1750282137881/work
webencodings==0.5.1
websocket-client @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d37u7gqts8/croot/websocket-client_1715878310260/work
widgetsnbextension @ file:///opt/miniconda3/conda-bld/widgetsnbextension_1761556742499/work
wrapt @ file:///opt/miniconda3/conda-bld/wrapt_1764243654808/work
xlrd @ file:///home/task_175990984508907/conda-bld/xlrd_1759910281352/work
yarl @ file:///opt/miniconda3/conda-bld/yarl_1762250141699/work
